# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
**/build/
.packages
pubspec_overrides.yaml

# Android
**/android/local.properties
**/android/.gradle/
**/android/key.properties
**/android/app/*.jks
**/android/app/*.keystore
**/.gradle/

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store

# Nix / devenv (machine-specific)
.devenv/
.direnv/
